<h1>About College</h1>
<hr>
<div class="container">
    <div class="row">
        <h1>SAMBHRAM INSTITUTE OF TECHNOLOGY</h1>
        <div class="container">
            <div class="row">
                <p>Sambhram Group of Institution (SGI) was established under the aegis of Apex Foundation with the principal motto of imparting quality Education and other management skills to enhance the effectiveness and career prospects of the working executives as well as management students aspiring for competence in the employment market.</p>
            </div>
        </div>
    </div>
</div>