<h1 class="head">About Project</h1>
<hr>
<style>
    body{
        background-image: url("/images/ply.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        
       
    }
    .head{
        color: black;
    }
</style>
<div class="container">
    <div class="row">
        <br>
        <br>
        <br>
        <h2> TOPIC: FIFA PLAYERS MANAGEMENT SYSTEM</h2>
        <hr>
        <p>FIFA (/ˈfiːfə/ French: Fédération Internationale de Football Association; English: International Federation of Association Football; Spanish: Federación Internacional de Fútbol Asociación; German: Internationaler Verband des Association-Fußball) is a non-profit organization that describes itself as an international governing body of association football, futsal and beach soccer. It is the highest governing body of association football.

        FIFA was founded in 1904[3] to oversee international competition among the national associations of Belgium, Denmark, France, Germany, the Netherlands, Spain, Sweden and Switzerland. Headquartered in Zürich, Switzerland, its membership now comprises 211 national associations. These national associations must each also be members of one of the six regional confederations into which the world is divided: Africa, Asia, Europe, North & Central America and the Caribbean, Oceania and South America.</p>
    </div>
    <div class="container " style="background-color: black">
        <table>
            <thead>
                <td><h1>FEATURES</h1></td>
            </thead>
            <tbody>
                <td><h4>Can View Players</h4></td>
                
            </tbody>
            <tbody>  <td><h4>Can Create Players</h4></td>
                </tbody>
            <tbody>
                <td><h4>Can Edit Existing Players</h4></td>
            </tbody>
            <tbody>
                <td><h4>Can Delete Existing Players</h4></td>

            </tbody>

            
        </table>
    </div>
</div>