

<div class="row">
    <div class="col-6"><h1>Players</h1></div>
    {{!-- <div class="col-6 d-flex justify-content-end">
        <a href="/aboutproject" type="button" class="btn btn-primary align-self-center">About Project</a>
    </div> --}}
</div>




{{#each rows}}
   
<div class="container">
  <div class="row">
    <div class="py-3 py-sm-2">
      <div class="card " style="box-shadow: 0px 2px 10px rgba(0,0,0,0.5)">
        <img src="" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">{{this.player_name}}</h5>
              
                <a href="/viewplayer/{{this.id}}" type="button" class="btn btn-primary btn-small"><i class="bi bi-eye"></i> view</a>
               
            
          </div>
        </div>
   </div>
  </div>
</div>
  
   
{{/each}}